<div class="bckGray" id="navBar">
	<div class="contentWidth" id="navBarContent">
		<img src="assets/images/big_buddha.png" onmouseover="this.src ='assets/images/big_buddha_selected.png'"
			onmouseout="this.src ='assets/images/big_buddha.png'" id="buddhaLogo" class="pointer">

		<div>
			<button mat-icon-button class="d-md-none white toSelect pointer" (click)="menuEnabled = !menuEnabled">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
		<div id="options" class="d-none d-md-flex">
			<span class="white toSelect pointer" (click)="scrollToElement(presentation)">About</span>
			<span class="white toSelect pointer" (click)="scrollToElement(projects)">Progetti</span>
			<span class="white toSelect pointer">Contatti</span>
		</div>
	</div>
	<div class="bckGray" id="optionsBar" *ngIf="menuEnabled">
		<span class="white toSelect pointer">About</span>
		<span class="white toSelect pointer">Projects</span>
		<span class="white toSelect pointer">Contacts</span>
	</div>
</div>


<div (click)="menuEnabled = false" class="bckBeige">

	<div class="containerPic">
		<div id="mainTitle">
			The Art Of Making
			<div id="spinOff" class="italic">
				Andrea Della Maggiora
			</div>
		</div>


		<div class="bird-container bird-container--one">
			<div class="bird bird--one"></div>
		</div>

		<div class="bird-container bird-container--two">
			<div class="bird bird--two"></div>
		</div>

		<div class="bird-container bird-container--three">
			<div class="bird bird--three"></div>
		</div>

		<div class="bird-container bird-container--four">
			<div class="bird bird--four"></div>
		</div>
	</div>

	<div class="container">
		<div class="row" #presentation>
			<div class="paragraphTitle col-md-6 d-flex">
				<h2> The Art Of Making </h2>
			</div>
			<div class="paragraphTitle col-md-6">
				<h3 class="italic">
					"Lo zen risiede nel circuito di un calcolatore allo stesso modo in cui alberga sulla cima delle
					montagne"
				</h3>
			</div>
		</div>


		<div class="row">
			<div class="col-md-9">
				<p>The Art Of Making è un'etichetta che ho creato condividere con le altre persone i miei
					progetti, accoumunati
					tutti dalla grande passione che ho per l'elettronica, la musica e l'informatica.</p>
				<p>
					Questo nome non ha il solo scopo di condividere semplici progetti ma bensì la più grande
					ambizione di
					trasmettere un sentimento molto più ampio nel quale credo profondamente:
					cerdere e tenere a ciò che si fa.
				</p>
				<p>
					L'arte del fare, del produrre, del pensare è per me un motore che spinge nella direzione della
					Qualità.
					Una Qualità che si vede con la coda dell'occhio, osservabile nelle piccole cose, nei dettagli dei
					miei progetti e,
					in generale, in tutti quei particolari che
					non si vedono ma si percepiscono; Qualità che parte dallo spirito, passa dall'estro creativo
					e
					sfocia in una manualità artistica.
				</p>
			</div>
			<div class="col-md-3" id="socialDiv">
				<input type="image" src="assets/images/facebook-logo.png" class="socialButtons"
					(click)="socialNavigation('facebook')" matTooltip="Facebook" />
				<input type="image" src="assets/images/linkedin-logo.png" class="socialButtons"
					(click)="socialNavigation('linkedin')" matTooltip="Linkedin" />
				<input type="image" src="assets/images/github-logo.png" class="socialButtons"
					(click)="socialNavigation('github')" matTooltip="Github" />
			</div>
		</div>


		<h2 class="paragraphTitle"> Progetti </h2>

		<!--//////////// FLASHING BUDDHA ////////////-->
		<div class="row">
			<div class="col-md-9 d-flex justify-content-center justify-content-md-between">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- foto principale progetto -->
			</div>
			<div class="col-md-3 projectTitle">
				<h3>Flashing Buddha </h3>
			</div>
		</div>

		<p></p>
		<p> Questo bizzarro oggetto è un computer creato soprattutto a scopo coreografico
			per i concerti che faccio con la mia band.
			Questa "mascotte" viene spesso posizionata in primo piano sul palco per creare un piacevole gioco di luci
			al ritmo scandito dalla successione di Fibonacci.
			Infatti, sia striscia di led all'interno del cassone, sia i led che illuminano il buddha "sfarfallano"
			in rapida successione ON / OFF seguendo il ritmo della cosiddetta "successione aurea". </p>

		<p> In primo piano è stata impiantata una matrice di led 4 x 32 che mostra una frequenza di 432 Hz,
			anch'essa chiamata frequenza aurea, e rappresenta la frequenza di riferimento
			della nota LA per l'accordatura di tutti i nostri strumenti musciali.
		</p>

		<div class="row">
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-lg-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
		</div>


		<p>
			Sul lato destro sono posizionati 3 led - rosso - giallo - verde per dare ulteriori colori alla struttura
			e sopra, appena dietro al buddha, è stato inserito un modulo per il pilotaggio (all'
			occorrenza) di 2 lamapade luminose per l'illuminazione del palco.
			Anche il modulo per le lampade segue la successione di Fibonacci per
			la propria accensione e spegnimento.
		</p>
		<p>
			Infine, l'uscita video del computer è impostata in modo da eseguire un file batch in loop, producendo il
			classico effetto "Matrix" con le scritte verdi su sfondo nero.
		</p>

		<div class="row d-flex">
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-lg-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
		</div>

		<!--//////////// PARROT STADIUM //////////////-->
		<div class="row projectHeader">
			<div class="col-md-9 d-flex justify-content-center justify-content-md-between">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- foto principale progetto -->
			</div>
			<div class="col-md-3 projectTitle">
				<h3>Parrot stadium </h3>
			</div>
		</div>

		<p></p>
		<p> Modello di uno stadio calcio realizzato con solo materiale di ferramenta (eccetto il circuito per
			l'illuminazione),
			la struttura principale è realizzata con classici stuzzicadenti e spiedi, i listelli di balsa servono da
			divisori tra il primo e il secondo anello
			e come copertura dell'intero stadio. Il manto erboso è composto da un tappetino in erba sintetica e per il
			fissaggio di tutti i componenti
			ho utilizzato una colla a presa rapida per alcuni punti "strategici" di fissaggio e la colla vinilica per
			tutto il resto. </p>

		<p>
			Lo stadio è illuminato internamente da 2 strisce di led (una tra il primo e il secondo anello e l'altra
			appena sotto la copertura del secondo anello)
			entrambe alimentate da cavi passanti dentro due tubi di alluminio e piccoli giunti di rame e esternamente da
			6 diodi led gialli incassati nella tavola
			di abete che forma la base.
		</p>

		<div class="row">
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-lg-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
		</div>
		<p>
			L'impianto di illuminazione è pilotato da 1 interruttore per l'accensione generale e 2 tasti normalmente
			aperti - uno
			per la gestione delle strisce di led (possibilità di accensione separata di ogni striscia di led) e l'altro
			per l'accensione/spegnimento
			dei led esterni (se tenuto premuto attiva la modalità di rotazione dove i led iniziano a lampeggiare con
			moto ortatorio attorno alla struttura).
		</p>
		<p>
			All'accensione del tasto generale viene eseguito un piccolo gioco di luci come presentazione dello stadio.
			Tutto questo è pilotato grazie a un microcontrollore Atmel su board Arduino Nano e al codice C++ da me
			scritto che è possibile trovare a
			questo indirizzo !link! sul mio profilo Linkedin.
		</p>

		<div class="row d-flex">
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-lg-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
		</div>


		<!--//////////// REPROCLOCK //////////////-->
		<div class="row projectHeader" #projects>
			<div class="col-md-9 d-flex justify-content-center justify-content-md-between">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- foto principale progetto -->
			</div>
			<div class="col-md-3 projectTitle">
				<h3>Reptoclock</h3>
			</div>
		</div>

		<p></p>
		<p> Centralina per la gestione di luci solari e lunari dentro rettiliere / teche, configurabile da
			un'applicazione scritta in html / javascript / css
			(codice sorgente disponibile qui !link all'applicazione!) permettendo all'utilizzatore di riprodurre un
			habitat estremamente realistico con una semplice temporizzazione
			dell'impianto luminoso.
		</p>

		<p>
			All'accensione della centralina viene visualizzato sullo schermo OLED un indirizzo IP e rappresenta
			l'inidirizzo dell'applicazione
			nella propria rete locale (LAN).
			Infatti, inserendo l'indirizzo ip all'interno di un browser web di un dispositivo connesso alla stessa rete
			locale, è possibile visualizzare l'applicazione
			per l'inserimento degli orari di alba e tramonto.
		</p>

		<div class="row">
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-lg-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
		</div>
		<p>
			Dopo l'inserimento gli orari vengono impostati nella centralina e appaiono anch'essi sul display oled per
			darne un'evidenza anche dopo la chiusura dell'applicazione.
			La centralina, inoltre, non ha bisogno di avere una propria configurazione dell'ora auttale in quanto va a
			leggere costantemente
			l'orario attuale dal server della propria LAN.
		</p>
		<p>
			A questo punto la centralina è configurata e all'orario di alba verrà emesso un segnale dimmerato sulla
			presa
			di corrente della lampada solare e su quella del riscaldatore. Questo crea un bellissimo effetto di alba,
			con un dolce e graduale aumento della luce fino a raggiungere
			la massima intensità luminosa e calore per poi, infine, ridiscendere a poco a poco in un bellissimo
			crepuscolo fino spegnersi completamente nella notte.
			Il ciclo del sole è finito e viene quindi interrotto il segnale sia sulla presa solare che quella del
			riscaldatore per abilitare
			il segnale su presa lunare permettendo quindi l'accensione della luce notturna.
		</p>

		<div class="row d-flex">
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-lg-block marginBottomPicture">
				<img src="assets/images/flashing-buddha/flashing-buddha1.png" style="height: 300px; width: 300px;">
				<!-- matrice e interno con arduino  -->
			</div>
		</div>

		<!--//////////////// WEATHER STATION //////////////////-->
		<div class="row projectHeader">
			<div class="col-md-9 d-flex justify-content-center justify-content-md-between">
				<img src="assets/images/weather-station/Ipad-app.png" style="height: 300px; width: 300px;">
				<!-- foto principale progetto -->
			</div>
			<div class="col-md-3 projectTitle">
				<h3>Weather station</h3>
			</div>
		</div>

		<p></p>
		<p> Applicazione pensata per la visualizzazione in tempo reale delle condizioni meteo sulla quale vengono
			utilizzate delle API pubbliche
			che chiamo attraverso un servizio web.
		</p>

		<p>
			L'applicazione è pensata da essere utilizzata in modo embedded su uno schermo di medie dimensioni (per
			agevolare l'installazione su parete),
			ad uso specifico per la visualizzazione dei dati metereologici locali.
		</p>
		<p>
			Realizzato con Angular 8, è possibile trovare il codice sorgente a questo indirizzo:
			<a
				href="https://github.com/AndreaDellaMaggiora/weather-station">https://github.com/AndreaDellaMaggiora/weather-station</a>
		</p>

		<div class="row">
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/weather-station/wall-home-Ipad.png"
					style="height: 300px; margin-left: 5px; margin-right: 5px;">
			</div>
		</div>

		<!--//////////////// RACING TIMER //////////////////-->
		<div class="row projectHeader">
			<div class="col-md-9 d-flex justify-content-center justify-content-md-between">
				<img src="assets/images/weather-station/Ipad-app.png" style="height: 300px; width: 300px;">
				<!-- foto principale progetto -->
			</div>
			<div class="col-md-3 projectTitle">
				<h3>Racing Timer</h3>
			</div>
		</div>

		<p></p>
		<p> Un cronometro per auto da corsa, dove il tempo viene visualizzato su 4 display a 7 segmenti. Anche se molto
			preciso
			il minimo valore in output sul primo display (da destra) è il secondo.
		</p>

		<p>
			Per mantenere un semplice e intuitivo utilizzo ho utilizzato solamente 2 tasti che funzionano nel seguente
			modo:
			<li>
				INTERMEDI<br>
				Dopo aver avviato il cronometro con lo START, questo pulsante prende i tempi intermedi della gara e alla
				pressione
				mostra per 3 secondi il parziale appena preso, mentre in background il tempo continua a scorrere.
			</li>
			<li>
				START / STOP <br>
				Se premuto la prima volta (dopo l'accensione) aziona il cronometro e inizia a visualizzare
				il tempo che scorre sul display mentre al secondo push viene stoppato il tempo e sul
				display vengono automaticamente
				mostrati in successione tutti gli intermedi presi durante la gara.
			</li>
		</p>
		<p>
			Il progetto è stato realizzato con un microcontrollore ATmega328 montato sulla scheda Arduino UNO,
			il codice sorgente è disponibile a questo indirizzo: xxx
		</p>

		<div class="row">
			<div class="col-md-12 col-lg-4 d-flex justify-content-center d-md-block marginBottomPicture">
				<img src="assets/images/weather-station/wall-home-Ipad.png"
					style="height: 300px; margin-left: 5px; margin-right: 5px;">
			</div>
		</div>


	</div>
	<footer class="page-footer bckGray white">myFooter</footer>


</div>